@model Category
@{
    ViewData["Title"] = "Create Category";
}

<div class="container mt-4">
    <div class="border p-4 rounded shadow-sm">
        <div class="row pb-3">
            <h2 class="text-center">Create Category</h2>
            <hr />
        </div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Category Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter category name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DisplayOrder" class="form-label">Display Order</label>
                <input asp-for="DisplayOrder" class="form-control" placeholder="Enter display order" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <button type="submit" class="btn btn-dark w-100">Create</button>
                </div>
                <div class="col-12 col-md-6 mt-2 mt-md-0">
                    <a asp-area="" asp-controller="Category" asp-action="Index" class="btn btn-secondary w-100">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}